.header{
	 background-color: #dfdfdf;
	 text-align: center;
	 line-height: 40px;
	 border: 0;
}
.header a{
	text-decoration: none;
	color: #777;
	font-weight: bold;
}
.content{
	margin: 0 auto;
	padding: 0 150px;
	width: 658px;
	position: relative;

}
.sidebar{
	position: absolute;
	right: 0;
	top: 10px;
}
.post{
	border-left: 4px solid #dfdfdf;
	min-height: 75px;
	position: relative;
	padding: 50px;
}
.post .author{
	background-color:#fff; 
    border: 4px solid #dfdfdf;
    border-radius: 50%;
    display: block;
    left:-23px;
    padding: 2px;
    position: absolute;
}
.post .author img{
	border-radius: 50%;
	display: block;

}
.post .title{
	line-height: 1.2;
	margin-bottom: 0.5em;
}
.post .title a{
   text-decoration: none;
   color: #343434;
}
.post .meta{
	display: block;
	position: absolute;
	background-color: #333;
	color: #fff;
	left:-154px;
	top: 56px;
	text-align: center;
	width: 100px;
	font-weight: bold;
	font-size: 1.0em;
	line-height: 40px;
	border-radius: 4px 0 0 4px;
}
.meta:after{
	display: block;
	position: absolute;
	top:0;
	right: -20px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #333;
	content:'';
}
.post a{
	text-decoration: none;
}
.copyright{
	margin: 5em auto;
	padding-left: 150px;
	width: 808px;
	position: relative;
}
.copyright .nav{
	position: absolute;
	right:0;
	bottom: 50px;
}
.copyright p{
	border-top: 4px solid #dfdfdf;
	padding:15px 0;
	text-align: center;
}